@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    user-select: none;
    font-family: "DotGothic16",sans-serif;
}
html{
    min-width: 100%;
}

body{
    /* min-width: 100%; */
   background-image: url("../images/Roto.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
}

/* CheckBoxとラジオボタンの透化 */
input[type=radio]{
    display: none;
}

input[type=CheckBox]{
    display: none;
}

/* 全体image用 */
img {
    width: 150px;
    height: auto;
}
#player_card_0,#player_card_1,#player_card_2,#player_card_3,
#oppo_card_0,#oppo_card_1,#oppo_card_2,#oppo_card_3{
    padding: 3px;
    background-color: #00000000;
}
/* Startボタンの位置 */
.title{
    color: #fff;
    font-size: 40px;
    font-weight: lighter;
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
}
.start{
    margin : 20px auto;
    text-align: center;
    background-color: #000000c2;
    border-radius: 20px;
    border: #fff solid 3px;
    width: fit-content;
    padding: 20px 40px;
}

.start_move{
    /* width: 120px;
    height: 60px; */
    font-size: 25px;
    background-color: #00000000;
    border: none;
    color: #fff;
}

.rule_space{
    width: fit-content;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    overflow-x: hidden;
    height: 90%;
    background-color: #000000e0;
    border-radius: 20px;
    border: #fff solid 3px;
    z-index: 9999;
}
.rule_button{
    font-size: 20px;
    background-color: #00000000;
    border: none;
    color: #fff;
}

/* 敵＆自分カード全体div囲み */
.ALL_Card{
    text-align: center;
}

/* 敵捨札用 */
.oppo_capture{
    margin-left : 30px;
    transform: rotate(90deg);
}

.Enemy_Card{
    margin-left: 30px;
}

/* ジョーカー用枠 */
.joker_card_select{
    position: absolute;
    display: none;
    text-align: center;
    background-color: #000000c2;
    border-radius: 20px;
    border: solid 3px #fff;
    top: 140px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: fit-content;
    justify-content:center;
}
#select_button_0,#select_button_1,#select_button_2{
    display: none;
    border: none;
    background-color: #00000000;
}
.joker_card_select p {
    color: #fff;
    font-weight: bold;

}

/* プレイヤー選択ボタン用 */
.Phase_button{
    background-color: #00000073;
    border-radius: 20px;
    color: white;
    border: solid 3px #fff;
    height: 40px;
    text-align: center;
    position: relative;
    display: none;
}
#message_box{
    background-color: #000000c2;
    border-radius: 20px;
    color: white;
    border: solid 3px #fff;
    visibility:hidden;
    margin:0 auto;
    height: 74px;
}
.message_box p{
    width: fit-content;
    margin: 5px auto;
    color: #fff;
    font-size: 20px;
}
#discard,#next,#captured,#capture,#sacrifice,#draw{
    background-color: #00000000;
    border: none;
    visibility: hidden;
    font-size: 25px;
    background: #00000000;
    color: white;
    max-width: 800px;
}
.select_button_flex{
    display: flex;
    justify-content: center;
}
.explanation{
    width: 85%;
    text-align: left;
    margin: 0 auto;
    color: #f9f5f5;
    padding: 20px 70px;
}
.batsu{
    right: 20px;
    top: 0px;
    font-size: 40px;
    font-weight: bold;
    background-color: #00000000;
    border: none;
    position: absolute;
    color: #fff;
}
::-webkit-scrollbar {
    background: #00000000;
    width:10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 20px;
  }
  .rule_game{
    background: #00000000;
    position: absolute;
    color: white;
    right: 30px;
    font-size: 25px;
    border: none;
  }
  .surrender_div button{
    background: #00000000;
    color: white;
    right: 30px;
    font-size: 25px;
    border: none;
}
.surrender_button{
    background: #00000000;
    position: absolute;
    color: white;
    left: 30px;
    font-size: 25px;
    border: none;
}
  .surrender_div{
    display: none;
    background-color: #000000c2;
    position: absolute;
    color: white;
    border: solid 3px #fff;
    border-radius: 20px;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
  }
  .clear_div{
    top :180px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
  }
  .clear_div img{
    width: 70%;
    transform: rotate(15deg);
  }