@charset "UTF-8";
html{
    min-width: 100%;
}

body{
    /* min-width: 100%; */
   background-image: url("../images/Roto.jpg");
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
}

/* CheckBoxとラジオボタンの透化 */
input[type=radio]{
    display: none;
}

input[type=CheckBox]{
    display: none;
}

/* 全体image用 */
img {
    width: 150px;
    height: auto;
}

/* Startボタンの位置 */
.start{
    margin : 20px 0;
    text-align: center;
}

.start_move{
    width: 120px;
    height: 60px;
}

.button_position{
    text-align: center;
    margin : 0 30px;
}

/* 敵＆自分カード全体div囲み */
.ALL_Card{
    text-align: center;
}

/* 敵捨札用 */
.oppo_capture{
    margin-left : 30px;
    transform: rotate(90deg);
}

.Enemy_Card{
    margin-left: 30px;
}

.joker_card_select{
    display: none;
    background-color: #00000073;
    border-radius: 20px;
    border: solid 3px #fff;
}
#select_button_0,#select_button_1,#select_button_2{
    border: none;
    background-color: #00000000;
}